@font-face {
  font-family: LeagueSpartan;
  src: url(../assets/fonts/leagueSpartan/LeagueSpartan-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea, select {
  font-family: LeagueSpartan, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #6BB5ED;
}

header h1 {
  font-size: 25px;
}

.voltar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-voltar {
  border: none;
  background: transparent;
}

#seta {
  width: 6vh;
  rotate: 180deg;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 10px;
}

#logo {
  width: 7vh;
}

.vermelho {
  color: red;
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 4px solid #159af9;
    border-top:4px solid palegoldenrod ;
    border-bottom: 4px solid #ff3131;
    border-right: 4px solid #d94aa5;
    border-radius: 10px;

    height: 80vh;
    margin:2vh 10vh;
}

.titulo-perfil{
    text-align: center;
    margin-top: 30px;
    color: #159af9;
}

.corpo-do-site{
    display: flex;
    flex-direction: column;

}

.editar{
    width: 20px;
    height: 20px;
    cursor: pointer;
    

}

footer{
  position: relative;
  top: 20vh;
}
.sair{
    background-color: #3DADFF;
    border: none;
    border-radius: 20px;
    padding: 13px;
    width: 12vh;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.botao{
    background-color:#faef57;
    border-radius: 20px;
    border: none;
    padding: 10px;
    min-width: 6rem;
    min-height: 8vh;
    font-weight: 500;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    
  }
  .botao:hover{
    transition: 0.8s ease;
    background-color: hsl(214, 74%, 37%);
    color: rgb(255, 255, 255);
    box-shadow: #51d8d4 0 2px 10px 0px;
  }
  
  .botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    a{
      font-size: 20px;
    }
}

@media screen and (max-width: 500px){
  main{
    border: none;
  }
  .botao{
    border-radius:30px;
    padding:9px;
    font-size:15px;
    

    }
    .sair{
    padding:14px;
    font-size:16px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .botao{
    border-radius:30px;
    padding:10px;
    font-size:16px;
    }
    .sair{
    border-radius: 35px;
    padding:15px;
    font-size:16px;
  }
}

@media screen and (min-width: 750px) {
  .botao{
    border-radius:35px;
    padding:12px;
    font-size:16px;
    width: 10rem;
    height: 7vh;
    }
    .sair{
    border-radius:30px;
    padding:17px;
    font-size:18px;
  }
  .titulo-perfil{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 20px;
  }
}
